section{
    padding: 24px;
}

article{
    background-color: #fff;
    height: 30px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}
article:last-child{
    border-bottom: none;
}
mat-icon{
    display: none;
}
article:hover{
    cursor: pointer;
    background-color: #fafafa;
}
article:hover mat-icon{
    display: block;
    z-index: 9999999999;
    cursor: pointer;
}
.description{
    flex: 8;
}
.created-date{
    flex: 1;
}
.delete{
    flex:1;
}

.description.created-date{
    color: #333;
    font-size: 13pt;
}
.description span{
    color: #999;
}