<section>
    <ng-container *ngFor="let news of listNews" >
        <article *ngIf="news.title || news.story_title" (click)="goToLink(news)">
            <div class="description">
                {{news.story_title || news.title}}
                <span> - {{news.author}} - </span>
            </div>
            <div class="created-date">
                {{news.created_at | formatDate}}
            </div>
            <div class="delete">
                <mat-icon (click)="deleteNews(news, $event)">delete</mat-icon>
            </div>
        </article>
    </ng-container>
</section>